---
import AppShell from '../layouts/AppShell.astro';
---
<AppShell title="Agent" active="roster">
  <div id="view"></div>
</AppShell>
<script>
  import { mount } from '../lib/mount';
  import { loadAgent } from '../lib/views/agent';
  const el = document.getElementById('view');
  if (el) void mount(el, loadAgent);
</script>
