---
import AppShell from '../layouts/AppShell.astro';
---
<AppShell title="Connections" active="connections">
  <div id="view"></div>
</AppShell>
<script>
  import { mount } from '../lib/mount';
  import { loadConnections, wireConnections } from '../lib/views/connections';
  const el = document.getElementById('view');
  if (el) void mount(el, loadConnections, wireConnections);
</script>
