---
import AppShell from '../layouts/AppShell.astro';
---
<AppShell title="Task" active="monitoring">
  <div id="view"></div>
</AppShell>
<script>
  import { mount } from '../lib/mount';
  import { loadTask, wireTask } from '../lib/views/task';
  const el = document.getElementById('view');
  if (el) void mount(el, loadTask, wireTask);
</script>
